p{
    margin: 0px;
}

.messageBox{
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between; 
    
    padding: 10px 50px;
    
    background-color: #eee;
}

.text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 4;
    padding: 0px 200px;
    
    text-align: center;
    text-color: #323743;
    font-family: 'Montserrat';
    white-space: normal;    
}

.dropdown{
    position: relative;
}

.currencyDropdown{
    font-size: 12px;
    padding: 10px 50px;
    background-color: #eee;
    cursor: pointer;
}

.dropdownContent{
    display: none;
    position: absolute;
    background-color: #eee;
    min-width: 200px;
}

.dropdownContent button{
    border: 0px;
    color: black;
    padding: 10px 50px;
    text-decoration: none;
    background-color: #ffffff
    /* display: block; */
}

.dropdownContent button:hover{
    background-color: #f0f0f0
}

.dropdown:hover .dropdownContent {
    display: block;
}